In [6]:
import cv2
import numpy as np
import pandas as pd
from collections import defaultdict


date = "241030"
box1 = "16"
box2 = "17"
exp  = "WT_PTZ"
name = date+"_"+box1+"_"+box2+"_"+exp
path = name+"/"



# Load files
video_path = path+name+'_Box1_0001.avi'


# Parameters
# video_path = '/mnt/data/241031_16_17_WT_ALDH7A1_PTZ_Box2_0001.avi'
num_wells = 96
rows, cols = 8, 12  # Assuming an 8x12 grid for 96 wells

# Load video
cap = cv2.VideoCapture(video_path)
frame_width = int(cap.get(cv2.CAP_PROP_FRAME_WIDTH))
frame_height = int(cap.get(cv2.CAP_PROP_FRAME_HEIGHT))
fps = cap.get(cv2.CAP_PROP_FPS)

# Calculate dimensions for each well
well_width = frame_width // cols
well_height = frame_height // rows

# Initialize background subtractor to detect moving fish
bg_subtractor = cv2.createBackgroundSubtractorMOG2()

# Dictionary to hold traces for each well
traces = defaultdict(list)  # Stores coordinates for each well across frames
frame_data_list = []

frame_idx = 0
while cap.isOpened():
    ret, frame = cap.read()
    if not ret:
        break

    # Apply background subtraction to isolate moving objects (fish)
    fg_mask = bg_subtractor.apply(frame)
    _, thresh = cv2.threshold(fg_mask, 200, 255, cv2.THRESH_BINARY)
    
    # Data dictionary to store coordinates of fish per well for this frame
    frame_data = {}
    
    # Loop over each well in the grid
    for r in range(rows):
        for c in range(cols):
            well_id = r * cols + c + 1
            
            # Define boundaries for the well
            x_start, y_start = c * well_width, r * well_height
            x_end, y_end = x_start + well_width, y_start + well_height
            well_region = thresh[y_start:y_end, x_start:x_end]
            
            # Find contours in this well region
            contours, _ = cv2.findContours(well_region, cv2.RETR_EXTERNAL, cv2.CHAIN_APPROX_SIMPLE)
            
            # Store fish coordinates in this well
            fish_coords = []
            for contour in contours:
                if cv2.contourArea(contour) > 10:  # Adjust to ignore small noise
                    M = cv2.moments(contour)
                    if M["m00"] != 0:
                        cx = int(M["m10"] / M["m00"]) + x_start
                        cy = int(M["m01"] / M["m00"]) + y_start
                        fish_coords.append((cx, cy))
                        traces[well_id].append((cx, cy))
            
            # Record coordinates for this frame
            frame_data[well_id] = fish_coords
    
    frame_data_list.append(frame_data)
    frame_idx += 1

    # Optional: Break early for testing (e.g., after first 500 frames)
    # if frame_idx > 500:
    #     break

cap.release()

# Save traces to a DataFrame for each well
trace_data = {
    well_id: pd.DataFrame(coords, columns=['x', 'y'])
    for well_id, coords in traces.items()
}

# Save coordinates per frame to a DataFrame
coordinates_df = pd.DataFrame(frame_data_list)

# Save trace data and per-frame coordinates to files (optional)
# for well_id, df in trace_data.items():
#     df.to_csv(f'well_{well_id}_trace.csv', index=False)

# coordinates_df.to_csv('frame_coordinates.csv', index=False)

print("Processing complete. Trace files and frame coordinates saved.")

Processing complete. Trace files and frame coordinates saved.

In [9]:
trace_data

{26:        x    y
 0    195  311
 1    197  312
 2    198  312
 3    127  303
 4    127  303
 ..   ...  ...
 583  159  346
 584  159  346
 585  159  346
 586  159  346
 587  159  346

 [588 rows x 2 columns],
 51:        x    y
 0    260  542
 1    259  542
 2    245  538
 3    259  542
 4    259  542
 ..   ...  ...
 569  298  558
 570  298  558
 571  298  558
 572  298  558
 573  298  558

 [574 rows x 2 columns],
 52:        x    y
 0    399  549
 1    398  549
 2    398  549
 3    322  589
 4    322  587
 ..   ...  ...
 992  382  532
 993  382  531
 994  382  531
 995  382  531
 996  382  531

 [997 rows x 2 columns],
 79:         x    y
 0     723  813
 1     684  763
 2     670  791
 3     684  771
 4     670  781
 ...   ...  ...
 996   670  792
 997   735  814
 998   714  728
 999   719  832
 1000  669  787

 [1001 rows x 2 columns],
 16:        x    y
 0    342  202
 1    343  202
 2    336  201
 3    335  201
 4    336  200
 ..   ...  ...
 314  335  238
 315  335  238
 316  335  238
 317  335  238
 318  335  238

 [319 rows x 2 columns],
 96:          x    y
 0     1239  860
 1     1275  868
 2     1232  869
 3     1276  866
 4     1183  902
 ...    ...  ...
 2893  1235  866
 2894  1236  865
 2895  1189  897
 2896  1243  857
 2897  1276  868

 [2898 rows x 2 columns],
 94:          x    y
 0     1031  882
 1     1025  916
 2     1025  915
 3     1024  912
 4     1024  912
 ...    ...  ...
 1497   968  860
 1498   988  871
 1499  1051  902
 1500  1014  934
 1501  1026  920

 [1502 rows x 2 columns],
 93:        x    y
 0    935  883
 1    910  864
 2    947  884
 3    909  864
 4    938  884
 ..   ...  ...
 660  924  876
 661  906  871
 662  871  884
 663  913  876
 664  941  860

 [665 rows x 2 columns],
 7:        x    y
 0    688  111
 1    688  109
 2    687  106
 3    687  106
 4    687  104
 ..   ...  ...
 390  719   89
 391  673   77
 392  711   67
 393  673  104
 394  682  107

 [395 rows x 2 columns],
 42:         x    y
 0     571  437
 1     571  437
 2     571  437
 3     571  437
 4     580  423
 ...   ...  ...
 1515  608  396
 1516  609  396
 1517  608  396
 1518  608  396
 1519  608  396

 [1520 rows x 2 columns],
 15:        x    y
 0    224  186
 1    224  186
 2    267  144
 3    268  143
 4    267  144
 ..   ...  ...
 747  230  229
 748  230  229
 749  230  229
 750  230  229
 751  230  228

 [752 rows x 2 columns],
 24:         x    y
 0    1279  135
 1    1279  135
 2    1279  137
 3    1279  138
 4    1279  141
 ..    ...  ...
 692  1205  148
 693  1207  167
 694  1207  189
 695  1188  159
 696  1188  160

 [697 rows x 2 columns],
 85:       x    y
 0    33  901
 1    29  914
 2    26  901
 3    29  914
 4    26  901
 ..   ..  ...
 786  47  879
 787  47  879
 788  47  879
 789  47  879
 790  37  855

 [791 rows x 2 columns],
 12:         x   y
 0    1277  93
 1    1278  92
 2    1277  92
 3    1277  92
 4    1277  91
 ..    ...  ..
 817  1231  50
 818  1231  50
 819  1231  50
 820  1231  50
 821  1231  50

 [822 rows x 2 columns],
 77:        x    y
 0    510  774
 1    510  775
 2    510  774
 3    510  775
 4    510  774
 ..   ...  ...
 484  521  815
 485  456  729
 486  468  815
 487  457  729
 488  511  781

 [489 rows x 2 columns],
 67:         x    y
 0     669  670
 1     669  670
 2     669  670
 3     669  669
 4     669  680
 ...   ...  ...
 1010  670  689
 1011  684  683
 1012  654  642
 1013  684  619
 1014  670  625

 [1015 rows x 2 columns],
 36:         x    y
 0    1265  351
 1    1265  351
 2    1265  341
 3    1280  259
 4    1265  341
 ..    ...  ...
 722  1280  309
 723  1188  256
 724  1262  255
 725  1266  271
 726  1206  256

 [727 rows x 2 columns],
 60:         x    y
 0    1266  553
 1    1266  553
 2    1266  553
 3    1266  553
 4    1266  591
 ..    ...  ...
 733  1189  510
 734  1278  483
 735  1189  495
 736  1190  590
 737  1190  588

 [738 rows x 2 columns],
 47:         x    y
 0    1102  406
 1    1102  440
 2    1102  401
 3    1103  446
 4    1103  448
 ..    ...  ...
 337  1151  379
 338  1163  466
 339  1103  428
 340  1103  401
 341  1102  373

 [342 rows x 2 columns],
 59:         x    y
 0    1102  507
 1    1102  505
 2    1102  595
 3    1102  509
 4    1103  579
 ..    ...  ...
 555  1103  585
 556  1103  585
 557  1103  585
 558  1103  585
 559  1103  585

 [560 rows x 2 columns],
 81:         x    y
 0     886  830
 1     857  815
 2     931  760
 3     857  750
 4     944  814
 ...   ...  ...
 1367  907  813
 1368  895  727
 1369  888  830
 1370  901  830
 1371  903  830

 [1372 rows x 2 columns],
 80:         x    y
 0     757  759
 1     843  835
 2     844  787
 3     844  750
 4     757  766
 ...   ...  ...
 1143  844  756
 1144  811  728
 1145  772  832
 1146  825  814
 1147  821  728

 [1148 rows x 2 columns],
 71:          x    y
 0     1102  611
 1     1102  611
 2     1102  611
 3     1103  610
 4     1103  611
 ...    ...  ...
 1277  1084  652
 1278  1135  640
 1279  1117  606
 1280  1095  630
 1281  1104  707

 [1282 rows x 2 columns],
 46:         x    y
 0    1016  448
 1    1016  439
 2    1016  418
 3    1016  367
 4    1029  423
 ..    ...  ...
 382   993  394
 383  1050  394
 384  1016  434
 385  1016  367
 386  1016  439

 [387 rows x 2 columns],
 91:        x    y
 0    671  853
 1    671  852
 2    671  855
 3    671  851
 4    681  847
 ..   ...  ...
 390  741  877
 391  716  872
 392  708  861
 393  728  877
 394  715  872

 [395 rows x 2 columns],
 84:          x    y
 0     1277  822
 1     1277  822
 2     1277  822
 3     1271  829
 4     1240  823
 ...    ...  ...
 2302  1265  835
 2303  1265  835
 2304  1265  835
 2305  1264  835
 2306  1264  835

 [2307 rows x 2 columns],
 10:         x    y
 0    1022   98
 1    1023  102
 2    1023  101
 3    1030  103
 4    1023   99
 ..    ...  ...
 504  1008   76
 505  1062   66
 506  1033   66
 507  1008   66
 508  1023  104

 [509 rows x 2 columns],
 68:         x    y
 0     843  706
 1     843  705
 2     843  705
 3     843  705
 4     843  705
 ...   ...  ...
 1221  757  618
 1222  816  641
 1223  781  641
 1224  820  641
 1225  781  641

 [1226 rows x 2 columns],
 72:          x    y
 0     1281  691
 1     1281  696
 2     1281  655
 3     1281  679
 4     1281  679
 ...    ...  ...
 1121  1190  686
 1122  1278  664
 1123  1190  628
 1124  1189  603
 1125  1190  682

 [1126 rows x 2 columns],
 35:         x    y
 0    1102  279
 1    1102  279
 2    1102  279
 3    1102  333
 4    1102  279
 ..    ...  ...
 284  1102  279
 285  1086  307
 286  1086  307
 287  1102  321
 288  1102  262

 [289 rows x 2 columns],
 48:         x    y
 0    1207  414
 1    1207  414
 2    1207  414
 3    1262  393
 4    1207  415
 ..    ...  ...
 479  1189  367
 480  1278  457
 481  1189  430
 482  1207  401
 483  1266  395

 [484 rows x 2 columns],
 28:         x    y
 0     394  290
 1     394  290
 2     394  290
 3     394  290
 4     407  286
 ...   ...  ...
 1086  407  242
 1087  407  242
 1088  407  242
 1089  407  242
 1090  407  242

 [1091 rows x 2 columns],
 41:         x    y
 0     485  457
 1     485  458
 2     488  466
 3     487  463
 4     487  463
 ...   ...  ...
 1514  445  465
 1515  445  465
 1516  445  465
 1517  445  465
 1518  445  465

 [1519 rows x 2 columns],
 18:        x    y
 0    569  151
 1    568  153
 2    569  150
 3    568  152
 4    569  151
 ..   ...  ...
 464  560  224
 465  560  224
 466  560  224
 467  559  224
 468  559  224

 [469 rows x 2 columns],
 38:        x    y
 0    169  468
 1    169  467
 2    169  467
 3    169  467
 4    169  467
 ..   ...  ...
 641  158  402
 642  158  402
 643  158  402
 644  158  402
 645  158  402

 [646 rows x 2 columns],
 62:        x    y
 0    119  653
 1    123  658
 2    123  658
 3    123  658
 4    123  658
 ..   ...  ...
 362  122  648
 363  122  648
 364  122  648
 365  122  648
 366  164  615

 [367 rows x 2 columns],
 31:        x    y
 0    684  314
 1    667  283
 2    667  283
 3    667  283
 4    679  334
 ..   ...  ...
 635  667  277
 636  667  277
 637  667  277
 638  667  277
 639  667  277

 [640 rows x 2 columns],
 27:         x    y
 0     291  325
 1     291  325
 2     291  326
 3     291  325
 4     292  326
 ...   ...  ...
 1103  253  293
 1104  244  295
 1105  253  293
 1106  244  295
 1107  244  294

 [1108 rows x 2 columns],
 13:       x    y
 0    35  222
 1    35  222
 2    57  166
 3    57  166
 4    57  166
 ..   ..  ...
 508  44  199
 509  45  194
 510  45  196
 511  45  195
 512  46  192

 [513 rows x 2 columns],
 43:         x    y
 0     654  372
 1     654  372
 2     653  372
 3     653  372
 4     653  372
 ...   ...  ...
 1296  667  377
 1297  668  377
 1298  668  377
 1299  668  377
 1300  668  377

 [1301 rows x 2 columns],
 30:         x    y
 0     635  285
 1     563  280
 2     563  281
 3     563  280
 4     563  280
 ...   ...  ...
 1111  601  309
 1112  602  309
 1113  602  309
 1114  603  309
 1115  601  309

 [1116 rows x 2 columns],
 74:        x    y
 0    204  816
 1    205  816
 2    204  816
 3    157  810
 4    157  766
 ..   ...  ...
 426  189  816
 427  189  816
 428  189  816
 429  208  816
 430  207  816

 [431 rows x 2 columns],
 75:        x    y
 0    270  816
 1    267  817
 2    267  817
 3    267  817
 4    267  817
 ..   ...  ...
 523  263  816
 524  263  816
 525  263  816
 526  263  816
 527  264  816

 [528 rows x 2 columns],
 25:       x    y
 0    18  281
 1    21  268
 2    21  268
 3    19  275
 4    19  275
 ..   ..  ...
 479  15  291
 480  15  291
 481  15  291
 482  15  291
 483  15  291

 [484 rows x 2 columns],
 2:        x   y
 0    161  24
 1    161  24
 2    161  24
 3    165  21
 4    165  21
 ..   ...  ..
 416  183   6
 417  114  76
 418  153  31
 419  181   8
 420  155  50

 [421 rows x 2 columns],
 1:       x    y
 0    94  103
 1    94  103
 2    95  101
 3    95  101
 4    95  103
 ..   ..  ...
 311  76   39
 312  76   39
 313  76   39
 314  76   39
 315  98   97

 [316 rows x 2 columns],
 4:        x   y
 0    354  42
 1    354  42
 2    354  42
 3    354  42
 4    354  42
 ..   ...  ..
 617  387  24
 618  387  24
 619  387  24
 620  387  24
 621  355  41

 [622 rows x 2 columns],
 3:        x   y
 0    294  80
 1    283  80
 2    284  80
 3    281  92
 4    235  92
 ..   ...  ..
 237  279  91
 238  286  79
 239  231  75
 240  275  91
 241  279  79

 [242 rows x 2 columns],
 5:        x   y
 0    479  91
 1    479  91
 2    487  91
 3    487  91
 4    463  27
 ..   ...  ..
 334  484  91
 335  482  91
 336  490  91
 337  490  91
 338  496  20

 [339 rows x 2 columns],
 54:         x    y
 0     569  526
 1     569  526
 2     570  526
 3     570  526
 4     570  526
 ...   ...  ...
 1441  581  520
 1442  581  520
 1443  581  520
 1444  580  520
 1445  581  520

 [1446 rows x 2 columns],
 53:         x    y
 0     432  489
 1     432  488
 2     432  487
 3     433  486
 4     432  486
 ...   ...  ...
 1349  437  484
 1350  437  484
 1351  437  484
 1352  437  484
 1353  437  484

 [1354 rows x 2 columns],
 76:        x    y
 0    375  816
 1    420  815
 2    337  791
 3    420  815
 4    337  791
 ..   ...  ...
 618  362  729
 619  354  815
 620  369  729
 621  333  816
 622  373  816

 [623 rows x 2 columns],
 32:        x    y
 0    854  318
 1    854  318
 2    854  318
 3    854  324
 4    842  269
 ..   ...  ...
 463  818  303
 464  815  308
 465  783  308
 466  842  264
 467  755  263

 [468 rows x 2 columns],
 73:       x    y
 0    36  801
 1    58  827
 2    34  798
 3    87  799
 4    40  791
 ..   ..  ...
 641  47  831
 642  47  831
 643  47  831
 644  47  833
 645  47  833

 [646 rows x 2 columns],
 87:        x    y
 0    292  914
 1    291  904
 2    291  906
 3    291  910
 4    291  911
 ..   ...  ...
 378  316  943
 379  316  943
 380  316  943
 381  316  943
 382  316  943

 [383 rows x 2 columns],
 44:        x    y
 0    755  403
 1    755  403
 2    755  404
 3    767  435
 4    756  426
 ..   ...  ...
 842  831  397
 843  807  468
 844  815  395
 845  818  395
 846  781  467

 [847 rows x 2 columns],
 70:          x    y
 0     1030  631
 1     1030  631
 2     1030  631
 3     1017  676
 4     1030  631
 ...    ...  ...
 1542  1050  640
 1543  1004  630
 1544  1005  640
 1545   983  640
 1546  1017  686

 [1547 rows x 2 columns],
 88:        x    y
 0    326  944
 1    326  943
 2    326  944
 3    326  943
 4    333  849
 ..   ...  ...
 336  361  873
 337  360  873
 338  362  873
 339  329  908
 340  329  911

 [341 rows x 2 columns],
 49:       x    y
 0    86  573
 1    86  570
 2    86  519
 3    82  586
 4    86  569
 ..   ..  ...
 251  73  575
 252  73  574
 253  73  574
 254  73  574
 255  73  574

 [256 rows x 2 columns],
 64:        x    y
 0    423  707
 1    423  701
 2    336  676
 3    322  677
 4    322  630
 ..   ...  ...
 599  361  643
 600  337  606
 601  337  608
 602  337  609
 603  337  613

 [604 rows x 2 columns],
 86:        x    y
 0    144  908
 1    143  908
 2    154  905
 3    125  893
 4    136  890
 ..   ...  ...
 535  144  908
 536  137  892
 537  125  893
 538  154  913
 539  160  907

 [540 rows x 2 columns],
 61:       x    y
 0    86  677
 1    86  619
 2    86  674
 3    86  620
 4    86  680
 ..   ..  ...
 205  73  650
 206  87  616
 207  86  690
 208  86  619
 209  63  639

 [210 rows x 2 columns],
 14:        x    y
 0    145  139
 1    145  140
 2    145  141
 3    145  151
 4    145  156
 ..   ...  ...
 345  195  140
 346  195  140
 347  195  140
 348  195  140
 349  195  141

 [350 rows x 2 columns],
 23:         x    y
 0    1102  232
 1    1102  231
 2    1102  177
 3    1102  231
 4    1102  180
 ..    ...  ...
 366  1132  220
 367  1085  220
 368  1084  133
 369  1102  233
 370  1102  195

 [371 rows x 2 columns],
 37:       x    y
 0    82  412
 1    86  457
 2    82  403
 3    62  387
 4    86  463
 ..   ..  ...
 236  87  457
 237  87  457
 238  87  457
 239  87  457
 240  87  457

 [241 rows x 2 columns],
 45:        x    y
 0    942  378
 1    942  440
 2    942  397
 3    942  372
 4    929  424
 ..   ...  ...
 442  882  467
 443  874  395
 444  879  395
 445  908  478
 446  884  467

 [447 rows x 2 columns],
 55:         x    y
 0     669  581
 1     680  585
 2     669  581
 3     680  585
 4     669  580
 ...   ...  ...
 1421  668  552
 1422  668  552
 1423  668  552
 1424  668  552
 1425  668  553

 [1426 rows x 2 columns],
 63:        x    y
 0    249  688
 1    249  689
 2    249  694
 3    249  636
 4    249  615
 ..   ...  ...
 249  287  643
 250  224  643
 251  281  643
 252  278  643
 253  224  643

 [254 rows x 2 columns],
 82:          x    y
 0     1017  776
 1     1017  777
 2     1029  835
 3     1032  797
 4     1017  774
 ...    ...  ...
 1587   986  727
 1588   986  830
 1589   990  727
 1590  1046  829
 1591  1000  812

 [1592 rows x 2 columns],
 19:        x    y
 0    680  139
 1    682  236
 2    678  172
 3    668  152
 4    680  141
 ..   ...  ...
 698  667  223
 699  667  223
 700  667  223
 701  667  223
 702  667  223

 [703 rows x 2 columns],
 20:        x    y
 0    854  223
 1    854  179
 2    841  229
 3    854  227
 4    842  190
 ..   ...  ...
 549  841  156
 550  803  221
 551  821  134
 552  804  221
 553  822  134

 [554 rows x 2 columns],
 21:        x    y
 0    926  141
 1    941  135
 2    928  228
 3    942  220
 4    941  135
 ..   ...  ...
 379  893  134
 380  881  134
 381  887  208
 382  887  134
 383  883  134

 [384 rows x 2 columns],
 22:         x    y
 0    1029  133
 1    1029  222
 2    1015  146
 3    1029  133
 4    1029  222
 ..    ...  ...
 383  1046  127
 384  1056  220
 385   982  220
 386   983  133
 387  1015  151

 [388 rows x 2 columns],
 33:        x    y
 0    929  322
 1    928  322
 2    941  323
 3    929  260
 4    928  316
 ..   ...  ...
 289  873  293
 290  925  276
 291  929  351
 292  879  308
 293  953  307

 [294 rows x 2 columns],
 56:         x    y
 0     843  543
 1     843  509
 2     756  505
 3     767  499
 4     756  502
 ...   ...  ...
 1303  770  482
 1304  755  504
 1305  815  554
 1306  843  582
 1307  756  502

 [1308 rows x 2 columns],
 57:         x    y
 0     942  488
 1     858  553
 2     930  509
 3     942  514
 4     930  583
 ...   ...  ...
 1259  930  518
 1260  894  554
 1261  888  554
 1262  891  554
 1263  930  518

 [1264 rows x 2 columns],
 58:         x    y
 0    1017  583
 1    1016  512
 2    1017  584
 3    1016  526
 4    1017  584
 ..    ...  ...
 752  1051  481
 753  1016  521
 754  1017  586
 755  1016  536
 756  1017  580

 [757 rows x 2 columns],
 65:        x    y
 0    507  644
 1    505  608
 2    510  674
 3    509  615
 4    506  625
 ..   ...  ...
 635  526  642
 636  525  642
 637  525  642
 638  510  699
 639  496  684

 [640 rows x 2 columns],
 83:          x    y
 0     1104  778
 1     1104  777
 2     1104  774
 3     1104  774
 4     1119  814
 ...    ...  ...
 1789  1154  726
 1790  1139  726
 1791  1124  829
 1792  1141  726
 1793  1104  772

 [1794 rows x 2 columns],
 34:         x    y
 0    1016  338
 1    1016  283
 2    1016  334
 3    1016  275
 4    1016  334
 ..    ...  ...
 255  1050  307
 256   984  307
 257  1054  307
 258  1053  307
 259   976  307

 [260 rows x 2 columns],
 78:        x    y
 0    594  814
 1    595  816
 2    595  815
 3    595  815
 4    595  815
 ..   ...  ...
 665  616  815
 666  554  815
 667  556  735
 668  542  815
 669  597  770

 [670 rows x 2 columns],
 50:        x    y
 0    158  587
 1    158  587
 2    158  587
 3    157  587
 4    146  496
 ..   ...  ...
 472  163  526
 473  157  526
 474  163  526
 475  157  526
 476  163  526

 [477 rows x 2 columns],
 66:        x    y
 0    593  624
 1    593  624
 2    596  622
 3    583  665
 4    593  623
 ..   ...  ...
 811  617  642
 812  556  642
 813  554  642
 814  553  642
 815  551  642

 [816 rows x 2 columns],
 69:         x    y
 0     856  672
 1     930  695
 2     943  631
 3     856  672
 4     856  672
 ...   ...  ...
 1431  897  640
 1432  857  638
 1433  944  642
 1434  930  621
 1435  856  611

 [1436 rows x 2 columns],
 17:        x    y
 0    480  137
 1    480  137
 2    480  138
 3    495  138
 4    507  137
 ..   ...  ...
 378  511  230
 379  511  230
 380  511  230
 381  511  230
 382  511  230

 [383 rows x 2 columns],
 6:        x   y
 0    614  90
 1    632  78
 2    627  74
 3    632  74
 4    632  74
 ..   ...  ..
 202  627  77
 203  633  73
 204  607  89
 205  546  78
 206  626  77

 [207 rows x 2 columns],
 8:        x   y
 0    780  90
 1    837  73
 2    779  73
 3    825  73
 4    848  73
 ..   ...  ..
 210  817  77
 211  826  63
 212  804  88
 213  822  67
 214  834  63

 [215 rows x 2 columns],
 9:        x    y
 0    917   89
 1    904   73
 2    923   89
 3    932   89
 4    922   89
 ..   ...  ...
 238  891   77
 239  876   63
 240  956  118
 241  900  118
 242  917   88

 [243 rows x 2 columns],
 11:         x    y
 0    1143  118
 1    1087  118
 2    1093   89
 3    1116   77
 4    1126   72
 ..    ...  ...
 341  1121   88
 342  1081   76
 343  1139  117
 344  1139   88
 345  1084   88

 [346 rows x 2 columns],
 39:        x    y
 0    248  441
 1    249  436
 2    248  436
 3    249  432
 4    249  432
 ..   ...  ...
 605  246  452
 606  246  452
 607  246  452
 608  246  452
 609  246  452

 [610 rows x 2 columns],
 90:        x    y
 0    622  873
 1    606  878
 2    566  878
 3    625  873
 4    601  865
 ..   ...  ...
 234  600  885
 235  609  872
 236  599  885
 237  595  885
 238  592  885

 [239 rows x 2 columns],
 92:        x    y
 0    768  885
 1    776  885
 2    778  885
 3    786  872
 4    773  885
 ..   ...  ...
 438  776  861
 439  844  884
 440  761  877
 441  843  884
 442  756  877

 [443 rows x 2 columns],
 95:          x    y
 0     1162  883
 1     1160  883
 2     1160  883
 3     1160  870
 4     1156  863
 ...    ...  ...
 1257  1083  883
 1258  1163  875
 1259  1153  859
 1260  1085  883
 1261  1161  875

 [1262 rows x 2 columns],
 40:        x    y

In [15]:
import cv2
import numpy as np

# Parameters
# video_path = '/mnt/data/241031_16_17_WT_ALDH7A1_PTZ_Box2_0001.avi'
rows, cols = 8, 12
occupied_wells = defaultdict(int)  # Count activity frames for each well

# Load video and calculate well dimensions
cap = cv2.VideoCapture(video_path)
frame_width = int(cap.get(cv2.CAP_PROP_FRAME_WIDTH))
frame_height = int(cap.get(cv2.CAP_PROP_FRAME_HEIGHT))
well_width = frame_width // cols
well_height = frame_height // rows

# Background subtractor
bg_subtractor = cv2.createBackgroundSubtractorMOG2()

# Settings for analysis
num_frames_to_check = 500  # Increase frames analyzed
activity_threshold = 0.8  # Threshold for determining if a well is occupied (80% of frames)

# Process frames
for frame_idx in range(num_frames_to_check):
    ret, frame = cap.read()
    if not ret:
        break

    # Background subtraction and thresholding
    fg_mask = bg_subtractor.apply(frame)
    _, thresh = cv2.threshold(fg_mask, 200, 255, cv2.THRESH_BINARY)
    thresh = cv2.morphologyEx(thresh, cv2.MORPH_OPEN, np.ones((3, 3), np.uint8))

    # Analyze each well
    for r in range(rows):
        for c in range(cols):
            well_id = f"{chr(65 + r)}{c + 1}"
            x_start, y_start = c * well_width, r * well_height
            x_end, y_end = x_start + well_width, y_start + well_height
            well_region = thresh[y_start:y_end, x_start:x_end]

            # Find contours in the well region
            contours, _ = cv2.findContours(well_region, cv2.RETR_EXTERNAL, cv2.CHAIN_APPROX_SIMPLE)
            for contour in contours:
                if cv2.contourArea(contour) > 10:  # Filter small areas as noise
                    occupied_wells[well_id] += 1  # Increment frame count for activity
                    break  # No need to check further if movement is detected in this well

cap.release()

# Determine consistently occupied wells based on activity threshold
occupied_wells = [
    well for well, count in occupied_wells.items()
    if count / num_frames_to_check >= activity_threshold
]

print("Consistently occupied wells:", sorted(occupied_wells))

Consistently occupied wells: []

In [13]:
occupied_wells

[7, 16, 26, 51, 52, 79, 93, 94, 96]